body {
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
}
header {
  width: 800px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
}

h1 {
  display: inline;
}
